<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="Libraries/angular.js"></script>
    <link href="Libraries/bootstrap-theme.css" rel="stylesheet" />
    <link href="Libraries/bootstrap.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <script type="text/javascript" src="testApp.js"></script>

  </head>
  <body ng-app="vkApp" ng-controller="vkCtrl">

    <div class="container">


      <div class="row">
        <form name="inputForm" novalidate>
          <div class="well">
            <div class="form-group">
              <label>Введите имя пользователя или сообщества:
              <input type="text" name="domain" class="form-control" required ng-model="new.domain" ng-focus="flagDomain=true" ng-blur="flagDomain=false" />
              </label>
              <span class="message" ng-show="flagDomain">
                {{messageDomain()}}
              </span>
              <div class="error" ng-show="inputForm.domain.$dirty">
                  {{getError(inputForm.domain.$error)}}
              </div>
            </div>


            <div class="form-group">
              <label>Введите количество записей:
              <input type="text" name="count" class="form-control" required ng-model="new.count" ng-pattern="/\d/" ng-focus="flagCount=true" ng-blur="flagCount=false" />
              </label>
              <span class="message" ng-show="flagCount">
                {{messageCount()}}
              </span>
              <div class="error" ng-show="inputForm.count.$dirty">
                {{getError(inputForm.count.$error)}}
              </div>
            </div>


            <div class="form-group">
              <label>Введите число смещения:
              <input type="text" name="offset" class="form-control" ng-model="new.offset" ng-pattern="/\d/" ng-focus="flagOffset=true" ng-blur="flagOffset=false" />
              </label>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="inputForm.$invalid" ng-click="get(new.domain, new.count, new.offset)">Загрузить</button>
          </div>

        </form>

          <div class="row masonry">
            <div class="brick" ng-repeat="item in newitems">
              <div class="thumbnail">
                <div class="caption">
                  <div class="text-center"><img class="img-thumbnail center-block" ng-src="{{item.image}}" /></div>
                  <div class="text-muted date">{{item.date | date: "fullDate"}}</div>
                  <hr>
                  <div class="clearfix"></div>
                  <div><div class="h5 text-justify font">{{item.header}}</div><a href={{item.url}} target="_blank">Узнать больше>></a></div>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="pagination-center">
        <ul class="pagination">
          <li ng-repeat="page in pagArray" ng-click="getPage(page.link)" ng-class="{'active': getCurrPageNum() == page.link}"><a ng-bind-html="page.name"></a></li>
        </ul>
      </div>
    </div>

  </body>
</html>
